* {
    font-family: Arial, sans-serif;
}
.top-header {
    background: #1a1a1a;
    padding: 30px 0;
}

.top-header h1{
    background: #1a1a1a;
    color: white;
    padding: 0px 30px;
    text-align: center;
    font-size: 60px;
    
    letter-spacing: 1px;
}

.day-section {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
}

.day-section .box {
    display: block;
    width: 280px;
    height: 340px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
    transition: ease 0.2s;
}

.day-section .box:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 24px rgba(0,0,0,0.8);
    margin: 0px 20px;
    transition: ease 0.2s;
}

.day-section .box .box-img {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-ontem {
    background-image: url("../img/ontem.jpg");
}
.img-hoje {
    background-image: url("../img/hoje.jpeg");
}
.img-amanha {
    background-image: url("../img/amanha.png");
}

.day-section .box h2 {
    display: flex;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 20%;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 20px;
    border-radius: 0 0 12px 12px;
}

@media (max-width: 600px) {
    .top-header h1 {
        font-size: 30px;
        padding: 10px;
    }

    .day-section {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
    }
    .day-section .box {
        width: 90%;
        height: 180px;
    }
}